doctype html
html(lang="en")
	head
		title About - #{head.title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="renderer" content="webkit")
		meta(name="theme-color" content="#222325")
		meta(name="apple-mobile-web-app-status-bar-style" content="#222325")
		meta(name="msapplication-navbutton-color" content="#222325")
		link(rel="stylesheet" href="css/about.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.1.0/github-markdown-dark.min.css")
		meta(name="description" content=head.description)
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

	body
		main
			.content.content-about
				.shape-wrap
					svg.shape(width="100%" height="100vh" preserveAspectRatio="none" viewBox="0 0 1440 800" xmlns:pathdata="http://www.codrops.com/")
						path( d="M -44,-50 C -52.71,28.52 15.86,8.186 184,14.69 383.3,22.39 462.5,12.58 638,14 835.5,15.6 987,6.4 1194,13.86 1661,30.68 1652,-36.74 1582,-140.1 1512,-243.5 15.88,-589.5 -44,-50 Z" pathdata:id="M -44,-50 C -137.1,117.4 67.86,445.5 236,452 435.3,459.7 500.5,242.6 676,244 873.5,245.6 957,522.4 1154,594 1593,753.7 1793,226.3 1582,-126 1371,-478.3 219.8,-524.2 -44,-50 Z")
				#about-container
					header
						h1(data-translate="name") #{main.name}
						h2 About Me

					.markdown-body
						!= aboutContent
